In [2]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [3]:
data1 = pd.read_csv("kc_house_data.csv")
data1.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [ ]:
plt.figure(figsize=(16, 12))
data.boxplot()

In [ ]:
data.boxplot()

In [ ]:
plt.hist(data1.price)

In [5]:
y1=np.log1p(data1.price)

In [ ]:
data.head(3)

In [6]:
x=data1.iloc[:,2:].values
y=y1.values

In [8]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train.shape

In [ ]:
y_test.shape

In [ ]:
from sklearn.preprocessing import StandardScaler
s=StandardScaler()
x_train_s=s.fit_transform(x_train)
x_test_s=s.transform(x_test)

In [ ]:
x_train_s

In [11]:
from sklearn.linear_model import LinearRegression

In [15]:
model_line = LinearRegression(normalize=True,fit_intercept=True,n_jobs=5)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
y_pred = model_line.predict(x_test_s)

In [ ]:
y_train_pred = model_line.predict(x_train_s)

In [27]:

print("Train score:",r2_score(y_train,y_train_pred))
print("Test score:",r2_score(y_test,y_pred))

Train score: 0.8792565264385739
Test score: 0.864923967564575

In [9]:
x_train,x_test,y_train,y_test=train_test_split( x,y,test_size=0.25,random_state =10)

In [10]:
from sklearn.preprocessing import PolynomialFeatures

In [12]:
poly=PolynomialFeatures(degree=3)

In [13]:
x_train_fit = poly.fit_transform(x_train) #transforming our input data

In [16]:
model_line.fit(x_train_fit, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=5, normalize=True)

In [17]:
x_test_ = poly.fit_transform(x_test)

In [21]:
predicted = model_line.predict(x_test_)

In [19]:
from sklearn.metrics import mean_squared_error
from sklearn import metrics

In [20]:

print("MSE: ", metrics.mean_squared_error(y_test, predicted))
print("R squared: ", metrics.r2_score(y_test,predicted))

MSE:  453889910.405658
R squared:  -1633435786.714726